@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Kontot spärrat";
}

<hgroup>
    <h1 class="text-danger">Kontot spärrat.</h1>
    <h2 class="text-danger">Det här kontot har spärrats, var vänlig försök igen senare.</h2>
</hgroup>
