@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Sidan stängd";
}

<hgroup>
    <h1 class="text-danger">Sidan är stängd.</h1>
    <h2 class="text-danger">Underhåll pågår, var vänlig försök igen senare.</h2>
</hgroup>
