/* Bootstrap customizations*/
.navbar-inverse {
    background-color: #9d261d;
    border-color: #080808;
}

    .navbar-inverse .navbar-brand {
        color: #FFFFFF;
    }

    .navbar-inverse .navbar-text {
        color: #cccccc;
    }

    .navbar-inverse .navbar-nav > .open > a,
    .navbar-inverse .navbar-nav > .open > a:hover,
    .navbar-inverse .navbar-nav > .open > a:focus {
        color: #fff;
        background-color: #9d261d;
    }

    .navbar-inverse .navbar-nav > .dropdown > a .caret {
        border-top-color: #cccccc;
        border-bottom-color: #cccccc;
    }

@media (max-width: 767px) {
    .navbar-inverse .navbar-nav .open .dropdown-menu > .active > a,
    .navbar-inverse .navbar-nav .open .dropdown-menu > .active > a:hover,
    .navbar-inverse .navbar-nav .open .dropdown-menu > .active > a:focus {
        color: #fff;
        background-color: #9d261d;
    }

    .navbar-inverse .navbar-nav .open .dropdown-menu > .disabled > a,
    .navbar-inverse .navbar-nav .open .dropdown-menu > .disabled > a:hover,
    .navbar-inverse .navbar-nav .open .dropdown-menu > .disabled > a:focus {
        color: #9d261d;
        background-color: transparent;
    }
}

.navbar-inverse .navbar-link {
    color: #cccccc;
}
