<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <connectionStrings configSource="ConnectionStrings.config">
    <!--<add name="DefaultConnection" connectionString="data source=.\SQLEXPRESS;Initial Catalog=InRapp;Integrated Security=True" providerName="System.Data.SqlClient" />-->
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <add key="UtvFileAreaPath" value="C:\\TestSFTP" />
    <add key="TimeSpan" value="5" />
    <add key="uploadFolder" value="C:\UppladdadeRegisterfiler\" />
    <add key="notApprovedFilesFolder" value="C:\EjUppladdadeRegisterfiler\" />
    <add key="MailLogPath" value="C:\logs\SFTPWatcher\MailLogs\"/>
    <add key="MailLogFileName" value="MailLog.txt"/>
    <add key="errorLogFilePath" value="C:\logs\SFTPWatcher\ErrorLogs\"/>
    <add key="MailServer" value="relay.sos.local" />
    <add key="MailSender" value="marie.ahlin@consid.se" />
    <add key="MailRecieverSocialstyrelsen" value="marie.ahlin@consid.se" />
    <add key="MailLogEnabled" value="true" />
    <add key="NetworkPath" value="\\INRAPPSFTP01V\d$\root\kt"/>
    <add key="NetworkUser" value="inrappsftpadm-svc"/>
    <add key="NetworkPwd" value="LoveDataFiles1!"/>
    <add key="AcceptedFileTypes" value="txt,xlsx,xls"/>
    <add key="Env" value="Utv" />
  </appSettings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>