<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="errorLogFilePath" value="C:\logs\SFTPWatcher\ErrorLogs\"/>
    <add key="MailServer" value="relay.sos.local" />
    <add key="MailSender" value="marie.ahlin@consid.se" />
    <add key="MailReciever" value="marie.ahlin@consid.se" />
    <add key="MailLogEnabled" value="true" />
    <add key="SFTPWatcherMailLogFile" value="C:\logs\SFTPWatcher\MailLogs\MailLog.txt"/>
  </appSettings>
</configuration>