<connectionStrings>
  <!--<add name="DbContext" connectionString="Data Source=(LocalDb)\MSSQLLocalDB;Initial Catalog=InrapporteringsPortal;Integrated Security=True"
       providerName="System.Data.SqlClient" />-->
  <!--<add name="DbContext" connectionString="Data Source=(LocalDb)\MSSQLLocalDB;Initial Catalog=InRapp;Integrated Security=True"
       providerName="System.Data.SqlClient" />-->
  <!--<add name="DbContext" connectionString="Data Source=(LocalDb)\MSSQLLocalDB;Initial Catalog=MarieTest;Integrated Security=True"
       providerName="System.Data.SqlClient" />-->
  <!--<add name="DbContext" connectionString="Data Source=(LocalDb)\MSSQLLocalDB;Initial Catalog=Test2;Integrated Security=True"
       providerName="System.Data.SqlClient" />-->
  <!--<add name="DbContext" connectionString="Data Source=(LocalDb)\MSSQLLocalDB;Initial Catalog=Db4;Integrated Security=True"
       providerName="System.Data.SqlClient" />-->
  <!--<add name="DbContext" connectionString="Data Source=(LocalDb)\MSSQLLocalDB;Initial Catalog=DB5;Integrated Security=True"
       providerName="System.Data.SqlClient" />-->
  <!--<add name="DefaultConnection" connectionString="Data Source=(LocalDb)\MSSQLLocalDB;Initial Catalog=DB7;Integrated Security=True"
       providerName="System.Data.SqlClient" />-->
  <!--<add name="DefaultConnection" connectionString="data source=.\SQLEXPRESS;Initial Catalog=DB7;Integrated Security=True" providerName="System.Data.SqlClient" />-->
  <!--<add name="DefaultConnection" connectionString="data source=.\SQLEXPRESS;Initial Catalog=DB8;Integrated Security=True" providerName="System.Data.SqlClient" />-->
  <!--<add name="DefaultConnection" connectionString="data source=inrappkt02v;initial catalog=DB9;persist security info=True;user id=InRappWeb;password=inrapp2017; multipleactiveresultsets=True;application name=EntityFramework" providerName="System.Data.SqlClient" />-->
  <!--<add name="DefaultConnection" connectionString="data source=inrappkt02v;initial catalog=DB9;persist security info=True;user id=InRappWeb;password=InRapp2017; multipleactiveresultsets=True;application name=EntityFramework" providerName="System.Data.SqlClient" />-->
  <!--<add name="DefaultConnection" connectionString="data source=.\SQLEXPRESS;Initial Catalog=DB10;Integrated Security=True" providerName="System.Data.SqlClient" />-->
  <!--<add name="DefaultConnection" connectionString="data source=.\SQLEXPRESS;Initial Catalog=DB11;Integrated Security=True" providerName="System.Data.SqlClient" />-->
  <!--<add name="DefaultConnection" connectionString="data source=.\SQLEXPRESS;Initial Catalog=InRapp;Integrated Security=True" providerName="System.Data.SqlClient" />-->

  <!--PRODUKTIONSDB 20180829-->
  <!--<add name="DefaultConnection" connectionString="data source=.\SQLEXPRESS;Initial Catalog=InRapp;Integrated Security=True" providerName="System.Data.SqlClient" />-->
  <!-- UTV -->
  <add name="DefaultConnection" connectionString="data source=.\SQLEXPRESS;Initial Catalog=DB13;Integrated Security=True" providerName="System.Data.SqlClient" />
</connectionStrings>