<appSettings>
  <add key="uploadFolder" value="C:\UppladdadeRegisterfiler\" />
  <add key="encryptDecryptKey" value="tu89geji340t89u2" />
  <add key="SMSUser" value="sms5YF=DC" />
  <add key="SMSPwd" value="kH4aeI" />
  <add key="SMSSender" value="Rapportera" />
  <add key="MailPwd" value="HolyCow!" />
  <add key="MailSender" value="inrapportering@socialstyrelsen.se" />
  <add key="MailServer" value="relay.sos.local" />
  <add key="DirForFeedback" value="C:\Aterkoppling\" />
  <add key="EnableSsl" value="False"/>
  <add key="Proxy" value="http://proxy.sos.local:8080/"/>
  <add key="errorLogFilePath" value="C:\logs\FilipWeb\"/>
  <add key="StartUrl" value="http://localhost/InrappSos.FilipWeb"/>
  <add key="Env" value="Utv" />
</appSettings>