@using System.Security.Cryptography
@{
    ViewBag.Title = "Hem";
}

<div class="row padding-top-55">

    <p class="text-success"><h2 class="text-success">@ViewBag.StatusMessage</h2></p>

    <div class="col-md-4">
        <p>
            @Html.Raw(ViewBag.TextVanster)
        </p>
    </div>
    <div class="col-md-4">
        @Html.Raw(ViewBag.TextMitten)
    </div>
    <div class="col-md-4">
        @Html.Raw(ViewBag.TextHoger)
    </div>
</div>