@{
    ViewBag.Title = "Contact";
}


<div class="row padding-top-55">
    <h3 class="col-md-8">@ViewBag.Message</h3>
    <div class="col-md-8">
        Vid frågor kontakta Socialstyrelsen, e-post: inrapportering@socialstyrelsen.se eller telefon 075-247 45 40 under våra telefontider måndag 13-15, tisdag 9-11, torsdag 13.15.
    </div>
 
</div>