@{
    ViewBag.Title = "xx är nu registrerad som användare i Socialstyrelsens ASTRID";
}


<div class="row padding-top-55">
    <h4>@Html.Raw(ViewBag.Title)</h4>
</div>
<br />
<div>
    <p>
        Tack för att du registrerat dig.<br />
    </p>
</div>
