@{
    ViewBag.Title = "Glömt lösenord";
}

<hgroup class="title padding-top-55">
    <h1>@ViewBag.Title</h1>
</hgroup>
<div>
    <p>
        Om angiven e-postadress är registrerad, kontrollera din e-post för att återställa ditt lösenord.
    </p>
</div>
	
